.home{
    width:100%;
    position: absolute ;
    top:0;
    color: #ffffff;
    margin-top: 10%;

   button{
    display:inline-block;
    margin: 1%;
    background-color: #202945 ;
    color: #ffffff;
    border-style: outset;

   }
   h1{
       color: #00F0A1;
       text-align: center;
   }
   .buttons{
        margin-left: 37%;
        align-content: center;
        justify-content: center;
   }

}