.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color:#5BBADF;
    color: #fff;

    .navbar-btn {
        margin-top: 0.5rem;
        height: 5rem;
        width: 10rem;
        background: none;
        border: none;
        color: #ffffff
    }
    .center-btn{
        
        margin-bottom: 0.5rem;
        color: #fff;
        width: 5rem;
        height: 5rem;
        border-color: #FFF;
        border-style: solid;
        background: #5BBADF;
        border-radius: 50%
    }
}